body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    max-width: 100%; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    position: relative;
}

#vote-image {
    cursor: pointer;
    transition: transform 0.2s;
}

#vote-count {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
