body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

.container {
    max-width: 100%; /* Максимальная ширина контейнера */
    margin: 0 auto; /* Центрирование контейнера */
    position: relative;
}

#vote-image {
    cursor: pointer;
    transition: transform 0.2s;
    position: center;
    margin: 0 auto;

}

#vote-count {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F0BD6F;
    color: #fff;
    padding: 10px 20px; /* Увеличьте размер текста, увеличив внутренний отступ */
    border-radius: 5px;
    font-size: 18px; /* Задайте свой размер шрифта */
    font-family: 'Comic Sans MS', cursive;  /*Замените 'Your Font' на имя вашего шрифта */
}


