body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
    margin: 0;
    background-color: #f0f0f0;
    overflow: hidden;
}

/*       #######       */

.container {
    max-width: 100%;  
    margin: 0 auto; 
    position: relative;

}

#vote-image {
    cursor: pointer;
    transition: transform 0.2s;
    position: center;
    margin: 0 auto !important;
    display: block !important;
    transform: translateX(0) !important;
}

#vote-image:active {
    height: 220px;
    width: 220px;

}




#vote-count {
    position: fixed;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #F0BD6F;
    color: #fff;
    padding: 10px 20px; /* Увеличьте размер текста, увеличив внутренний отступ */
    border-radius: 5px;
    font-size: 18px; /* Задайте свой размер шрифта */
    font-family: 'Marker Felt', fantasy;  /*Замените 'Your Font' на имя вашего шрифта */
}

/*       #######       */

.upEarn{
    position: absolute;
    top: 50%;
    font-family: 'Marker Felt', fantasy;
}

#vote-earn{
    font-size: 16px;
}

#bt-vote-earn{
    text-align: center;
    font-size: 14px;
    font-family: 'Marker Felt', fantasy;
    margin: 0 auto;
    display: block;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #C6C6C6;


}

#bt-vote-earn:hover{
    background-color: #DCDCDC;
    color:1F1FE9;
}








